HTML	{background-color:#ffffff}

BODY	{background-color:#ffffff;
	 color:#333333;
	 background-repeat:no-repeat;
	 background-position: right bottom}


A:link	{color:#ffaa00}
A:visited	{color:#ffaa00}
A:hover	{color:#ff5500}

A.menu:link	{
	color:#400000
}
A.menu:visited	{
	color:#400000
}
A.menu:hover	{
	color:#ff5500;
	background-color:#ffffff
}

.titlediv {
	clear:none;
	font-size:14px;
	color:#000000;
	background-color:#ffbf00;
	margin-top:2px
}
P.title	{
	text-decoration:none;
	margin-top:4px
}

A.menu	{
	font-family:Verdana;
	font-weight:bold;
	text-decoration:none;
	background-color:#deb887;
	padding-right:20px;
	padding-left:20px;
}
.menudiv {
	clear:none;
	font-size:16px;
	 margin-top:-4px;
	background-color:#ffbf00;
}

H2	{text-align:center;
	 font-family:Verdana;
	 font-size:105%;
	 margin-top:30px}



P.text	{text-align:justify;
	 text-justify:distribute;
	 line-height:154%;
	 margin-left:20%;
	 margin-right:20%;
	 border-style:solid;
	 border-width:2px;
	 border-color:#dbc288;
	 padding:10px}

Pre.text{
	text-align:justify;
	text-justify:distribute;
	line-height:154%;
	margin-left:20%;
	margin-right:20%;
	border-style:solid;
	border-width:2px;
	border-color:#dbc288;
	padding:10px
}

.logo	{float:left;
	 margin-left:10px;
	 margin-right:20px}

.mail	{border-style:none;
	 vertical-align:middle;
	 margin-right:5px}

P.info1	{font-size:13px; 
	 font-weight:bold;
	 color:#444444;
	 cursor:help;
	 margin-top:7px;
	 margin-bottom:7px}

P.info2	{text-align:right;
	 font-family:verdana;
	 font-size:10px;
	 color:#ffcf00;
	 cursor:help;
	 background-color:#007733;
	 margin-top:7px;
	 margin-bottom:7px}

HR	{height:5px;
	 border-style:solid;
	 border-width:1px;
	 border-color:#f0750a;
	 background-color:#f0750a;
	 color:#f0750a}

