BODY {
	background-color: #ffffff;
	color:#000000;
	font-size:86%;
}

H1 {
	font-size:250%;
	margin-top:0.6em;
	margin-bottom:-.8em;
}

H2 {
	color:#600000;
	font-size: 130%;
	margin-top:1.6em;
}
H3 {
	font-size: 70%;
	margin-top: 2 em;
	margin-bottom: -.8 em;
}

H4 {
	font-size: 100%;
	margin-top: 2 em;
	margin-bottom: -1 em;
}

sub {
	font-size: 85%;
	margin-top: 2 em;
	margin-bottom: -2 em;
}

sup {
	font-size: 85%;
	margin-top: 1 em;
	margin-bottom: 3 em;
}

hr	{height:5px;
	 border-style:solid;
	 border-width:1px;
	 border-color:#f0750a;
	 background-color:#f0750a;
	 color:#f0750a}

TH {
	font-size:86%;
}

TD {
	font-size:86%;
}

.contents {
margin-top:3em;
margin-left:1em;
margin-right:1em;
}

PRE.CodeBlock {
	font-size:120%;
	color:#ffffff;
	background-color:#202020;
	margin-top:1em;
	margin-bottom:1em;
	padding:0.5em;
}

A:link { color:#ffa500 } 
A:visited { color:#cd853f } 
A:active { color:#ff5e19 } 
A:hover { color:#00ff7f } 

